.swiper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;

	.swiper-wrapper {
		width: 0 !important;

		.swiper-slide {
			background-position: center;
			background-size: cover;
			width: 210px;
			height: 440px;

			.card {
				position: relative;
				width: 100%;
				img {
					display: block;
					width: 100%;
					width: 210px;
					height: 337px;
				}
			}

			&.swiper-slide-active {
				.card {
					transform: scale(1.05);
					transition: 0.5s;

					.about__people {
						display: block;
					}
				}
			}

			&:not(.swiper-slide-active) {
				.about__people {
					display: none;
				}
			}
		}
	}

	.swiper-pagination {
		position: relative;
		font-size: 16px;
		font-weight: 600;

		span {
			font-size: 24px;
			color: #5a5dd6;
		}
	}

	.autoPlay-progress {
		position: absolute;
		right: 16px;
		bottom: 16px;
		z-index: 10;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		color: var(--swiper-theme-color);
	}

	.autoPlay-progress svg {
		--progress: 0;
		position: absolute;
		left: 0;
		top: 0px;
		z-index: 10;
		width: 100%;
		height: 100%;
		stroke-width: 4px;
		stroke: var(--swiper-theme-color);
		fill: none;
		stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
		stroke-dasharray: 125.6;
		transform: rotate(-90deg);
	}
}

.slider-controller {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	$bottom: 43px;
	bottom: $bottom;

	z-index: 5;

	.button {
		position: relative;
		margin: 0 40px;
		padding: 10px 20px;
		background: #646cff;
		border-radius: 20px;

		font-size: 17px;
		font-family: 700;

		transition: 0.3s;
		cursor: pointer;

		&:hover {
			background: #747bff;
		}
	}

	// .swiper-button-prev {
	// 	position: absolute;

	// 	left: 0px;
	// 	bottom: $bottom;
	// }

	// .swiper-button-next {
	// 	position: absolute;

	// 	right: 0px;
	// 	top: $bottom;
	// }
}
