body {
	// background: linear-gradient(-45deg, #4203b6, rgb(13, 16, 25)) fixed;

	color: white;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
	padding: 0 20px;
}

:root {
	// todo light
	// ! wrapper
	--wrapper-bg-all-light: #ffffff;

	// ! header
	--header-scroll-light: #ffffff00;
	--header-ActScroll-light: #ffffffa1;
	--header-box-shadow-light: #a1a1a1;
	--header-text-light: #494950;
	--header-ActText-light: #646cff;
	--header-border-light: rgba(255, 255, 255, 0.151);
	--header-burger-button-light: #797979;
	--header-burger-menu-light: #FFFFFF;
	--header-switch-bg-light: #f6f6f7;
	--header-switch-text-light: #737379;

	// ! main
	--main-text-light: #0f1a25;

	// ! footer
	--footer-bg-light: #0c131b;
	--footer-title-light: #fff;
	--footer-text-light: #8b8c8e;
	--footer-textHover-light: #fff;
	--footer-icon-light: #272727;
	--footer-iconHover-light: #5f62e2;

	// todo dark
	// ! wrapper
	--wrapper-bg-all-dark: #1e1e20;

	// ! header
	--header-scroll-dark: #0c131b00;
	--header-ActScroll-dark: #1e1e20a1;
	--header-box-shadow-dark: #5e5e5e;
	--header-text-dark: #f8f8ef;
	--header-ActText-dark: #9499ff;
	--header-border-dark: rgba(255, 255, 255, 0.151);
	--header-burger-button-dark: #fff;
	--header-burger-menu-dark: #1E1E20;
	--header-switch-bg-dark: #252529;
	--header-switch-text-dark: #9c9ca3;

	// ! main
	--main-text-dark: #ffffff;

	// ! footer
	--footer-bg-dark: #0c131b;
	--footer-title-dark: #5f62e2;
	--footer-text-dark: #8b8c8e;
	--footer-textHover-dark: #fff;
	--footer-icon-dark: #272727;
	--footer-iconHover-dark: #5f62e2;
}

// todo light
.layout {
	// ! wrapper
	.wrapper {
		background: var(--wrapper-bg-all-light);
	}

	// ! header
	.header__jtsecn {
		.headerScroll {
			background: var(--header-scroll-light);
		}
		.headerScroll.active {
			background: var(--header-ActScroll-light);
			box-shadow: 0px 0px 5px var(--header-box-shadow-light);
		}

		// ? nav
		.link {
			a {
				color: var(--header-text-light);

				&:hover {
					color: var(--header-ActText-light);
				}
			}
			.activeHeaderStyle {
				color: var(--header-ActText-light);
			}
		}

		// ? burger menu nav
		.nav__burger__menu {
			background: var(--header-burger-menu-light);
			border: 1px solid var(--header-border-light);

			a {
				color: var(--header-text-light);

				&:hover {
					background: var(--header-button-light);
				}
			}
			.activeHeaderStyle {
				background: var(--header-ActButton-light);

				&:hover {
					background: var(--header-ActButton-light);
				}
			}

			.burger__menu__switch__theme {
				.button__switch__theme {
					background: var(--header-switch-bg-light);

					color: var(--header-switch-text-light);
				}
			}
		}

		// ? burger button
		.burger__button {
			.burger__icon {
				span {
					background-color: var(--header-burger-button-light);
					&:before {
						background-color: var(--header-burger-button-light);
					}
					&:after {
						background-color: var(--header-burger-button-light);
					}
				}
			}
			.burger__icon.open {
				span {
					background: transparent;
				}
			}
		}
	}

	// ! main
	.main {
		color: var(--main-text-light);
	}

	// ! footer
	.footer {
		background-color: var(--footer-bg-light);

		.footer__top {
			.block {
				p {
					color: var(--footer-text-light);
				}

				h6 {
					color: var(--footer-title-light);
				}

				a {
					color: var(--footer-text-light);

					&:hover {
						color: var(--footer-textHover-light);
					}
				}
			}
		}

		.footer__bottom {
			.copyright {
				color: var(--footer-text-light);
			}

			.icons {
				a {
					background-color: var(--footer-icon-light);

					&:hover {
						background-color: var(--footer-iconHover-light);
					}
				}
			}
		}
	}
}

// todo dark
.layout.dark {
	// ! wrapper
	.wrapper {
		background: var(--wrapper-bg-all-dark);
	}

	// ! header
	.header__jtsecn {
		.headerScroll {
			background: var(--header-scroll-dark);
		}
		.headerScroll.active {
			background: var(--header-ActScroll-dark);
			box-shadow: 0px 0px 5px var(--header-box-shadow-dark);
		}

		// ? nav
		.link {
			a {
				color: var(--header-text-dark);

				&:hover {
					color: var(--header-ActText-dark);
				}
			}
			.activeHeaderStyle {
				color: var(--header-ActText-dark);
			}
		}

		// ? burger menu nav
		.nav__burger__menu {
			background: var(--header-burger-menu-dark);
			border: 1px solid var(--header-border-dark);

			a {
				color: var(--header-text-dark);

				&:hover {
					background: var(--header-button-dark);
				}
			}
			.activeHeaderStyle {
				background: var(--header-ActButton-dark);

				&:hover {
					background: var(--header-ActButton-dark);
				}
			}

			.burger__menu__switch__theme {
				.button__switch__theme {
					background: var(--header-switch-bg-dark);

					color: var(--header-switch-text-dark);
				}
			}
		}

		// ? burger button
		.burger__button {
			.burger__icon {
				span {
					background-color: var(--header-burger-button-dark);
					&:before {
						background-color: var(--header-burger-button-dark);
					}
					&:after {
						background-color: var(--header-burger-button-dark);
					}
				}
			}
			.burger__icon.open {
				span {
					background: transparent;
				}
			}
		}
	}

	// ! main
	.main {
		color: var(--main-text-dark);
	}

	// ! footer
	.footer {
		background-color: var(--footer-bg-dark);

		.footer__top {
			.block {
				p {
					color: var(--footer-text-dark);
				}

				h6 {
					color: var(--footer-title-dark);
				}

				a {
					color: var(--footer-text-dark);

					&:hover {
						color: var(--footer-textHover-dark);
					}
				}
			}
		}

		.footer__bottom {
			.copyright {
				color: var(--footer-text-dark);
			}

			.icons {
				a {
					background-color: var(--footer-icon-dark);

					&:hover {
						background-color: var(--footer-iconHover-dark);
					}
				}
			}
		}
	}
}
